Source: pynetmap-server
Section: misc
Priority: optional
Maintainer: Samir KHERRAZ <samir.kherraz@outlook.fr>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://git.newgen.cloudlinux.eu/skherraz/pynetmap-server.git

Package: pynetmap-server
Architecture: all
Depends: ssh, python3 , awk, sshpass,python3-pip
Description: Pynetmap server is used to map a virtual infrastructure ( proxmox ) 